body{background-color: rgb(96, 59, 22);}

.title{color: rgb(224, 158, 15);
        font-size: larger;
        font-family:monospace

}

.footer{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(193, 72, 72);
        
}


